.card-content {
    width: 90%;
    margin: 0 auto;
    color: #FF6060;
}

.container {
    display: flex;
    justify-content: space-between;
}

.localisation h2 {
    font-size: 36px;
    font-weight: 500;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #FF6060;
    color: white;
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 15px;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.stars-info-profil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 19px;
}

.profil {
    display: flex;
    align-items: center;
}

.profil img {
    margin-left: 10px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.ratings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.container-dropdowns {
    display: flex;
    justify-content: space-between;
}

span {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 50%;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
   .container {
    flex-direction: column;
   }
   .container-dropdowns {
    flex-direction: column;
    align-items: center;
   }
   .stars-info-profil {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
   }
   .ratings {
    margin: 0;
   }
   .ratings img {
    width: 13px;
    height: 13px;
   }
   .profil img {
    width: 32px;
    height: 32px;
   }
   .localisation h2 {
    font-size: 18px;
   }
}