.card-content {
    width: 90%;
    margin: 0 auto;
    color: #FF6060;
}

.container-slider {
    height: 415px;
    margin:  30px auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-anim {
    opacity: 1;
}

.btn-slide {
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
}

.btn-slide .active {
    display: flex;
}

.btn-slide .hidden {
    display: none;
}
  
.btn-slide img {
    width: 46px;
    height: 79px;
    pointer-events: none;
}

.prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
}
.next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
}

.container {
    display: flex;
    justify-content: space-between;
}

.localisation h2 {
    font-size: 36px;
    font-weight: 500;
}

.tags {
    display: flex;
}

.tag {
    background-color: #FF6060;
    color: white;
    margin-right: 5px;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars-info-profil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 19px;
}

.profil {
    display: flex;
    align-items: center;
}

.profil img {
    margin-left: 10px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.ratings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.container-dropdowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

span {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 50%;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .container-slider {
        height: 255px;
    }
    .btn-slide img {
        width: 20px;
        height: 30px;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
   .container {
    flex-direction: column;
   }
   .container-dropdowns {
    flex-direction: column;
    align-items: center;
   }
   .stars-info-profil {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
   }
   .ratings {
    margin: 0;
   }
   .ratings img {
    width: 13px;
    height: 13px;
   }
   .profil img {
    width: 32px;
    height: 32px;
   }
   .localisation h2 {
    font-size: 18px;
   }
}