.cardLink {
    width: 340px;
    height: 340px;
    margin: 20px;
    position: relative;
    border-radius: 10px;
}

.card img {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
}

.card h3 {
    color: white;
    position: absolute;
    max-width: 60%;
    bottom: 10px;
    left: 10px;
}
